<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <form>
      <div style="height: 300px; width:600px; margin-left:300px">
        <div class="form-group"> <input type="text" id="b_user_id" name="" id="" hidden></div>
         <div class="form-group"> <input class="form-control " type="text" placeholder="" id="hotelname" readonly> <span class="form-label">Hotel Name</span> </div>
           <div class="form-group"> <input class="form-control" type="text" placeholder="Enter your name" id="b_name"> <span class="form-label">Name</span> </div>
           <div class="row">
               <div class="col-md-6">
                   <div class="form-group"> <input class="form-control" type="text" value="2021-10-21" required data-date-format="yyyy-mm-dd" id="b_check_in_date" id="b_check_in_date"> <span class="form-label">Check In</span> </div>
               </div>
               <div class="col-md-6">
                   <div class="form-group"> <input class="form-control" type="text" required  value="2021-10-21" data-date-format="yyyy-mm-dd" id="b_check_out_date"> <span class="form-label">Check out</span> </div>
               </div>
               <div class="col-md-6">
                 <div class="form-group"> <input class="form-control" type="text" required id="b_check_in_time"> <span class="form-label">Check In time</span> </div>
             </div>
             <div class="col-md-6">
               <div class="form-group"> <input class="form-control" type="text" required id="b_check_out_time"> <span class="form-label">Check out time</span> </div>
           </div>

           <div class="col-md-6">
             <div class="form-group"> <input class="form-control" type="number" id="single" required readonly> <span class="form-label">fare for single room</span> </div>
         </div>

         <div class="col-md-6">
           <div class="form-group"> <input class="form-control" type="number" id="double" required readonly> <span class="form-label">fare for double room</span> </div>
       </div>


           </div>
           <div class="row">
               <div class="col-md-4">
                   <div class="form-group"> <select class="form-control"  id="number" required>
                           <option id="number" value="" selected hidden>no of rooms</option>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                       </select> <span class="select-arrow"></span> <span class="form-label">Rooms</span> </div>
               </div>
               <div class="col-md-4">
                   <div class="form-group"> <select class="form-control" required id="person">
                           <option value="" selected hidden>no of adults</option>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                       </select> <span class="select-arrow"></span> <span class="form-label">Adults</span> </div>
               </div>
               <div class="col-md-4">
                   <div class="form-group"> <select class="form-control" id="type"required onchange="fare()">
                           <option value="" selected hidden >type of room</option>
                           <option>single room</option>
                           <option>double room</option>
                           
                       </select> <span class="select-arrow"></span> <span class="form-label">Type of Room</span> </div>

               </div>
               <div class="form-group"> <input class="form-control" type="text" id="fare_info" placeholder="Fare" readonly> <span class="form-label">Fare</span> </div>
               <script>

               </script>
           </div>
           <div class="row">
               <div class="col-md-6">
                   <div class="form-group"> <input class="form-control" type="email" placeholder="Enter your Email" id="b_email"> <span class="form-label">Email</span> </div>
               </div>
               <div class="col-md-6">
                   <div class="form-group"> <input class="form-control" type="number" placeholder="Enter you Phone" id="b_mobile"> <span class="form-label">Phone</span> </div>
               </div>
           </div>
           <div class="form-btn"> <button class="submit" onclick="booknow()">Book Now</button> </div>
          </div>
       </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>