<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" value="2021/10/21" data-date-format="yyyy/mm/dd" id="dp2">
    <button onclick="date()">login</button>
    <script>
     function date(){
         var1=document.getElementById('dp2').value
         console.log(var1)
     }
    </script>
</body>
</html>